@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@700&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit&family=Montserrat:wght@800&family=Poppins:wght@200&family=Roboto:wght@100;900&display=swap');

#text-home {
    font-family: 'inter';
    font-weight: 500;
}
h1 {
    line-height: 1.4;
}
#paraf {
    line-height: 1.2;
}
.font-semibold {
    font-family: 'Poppins', sans-serif;
}
.titleMon{
    font-family: 'Montserrat', sans-serif;
}